:root {
  --grid-size: 8px;
  --border-radius: calc(var(--grid-size) / 2);
  --font-size: calc(var(--grid-size) * 2);
  --nav-height: 64px;
  --content-width: 960px;

  --main-color: #36c;
  --background-color: white;
  --title-text-color: black;
  --body-text-color: #666;
  --border-color: #999;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-color: #36c;
    --background-color: black;
    --title-text-color: #ddd;
    --body-text-color: #999;
    --border-color: #666;
  }
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--background-color);

  font-size: var(--font-size);
  color: var(--body-text-color);
  line-height: 2em;
  word-break: keep-all;

  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
}

main {
  box-sizing: border-box;
  margin-top: var(--nav-height);
  padding: var(--font-size);
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;
  line-height: 1.25em;
  font-weight: 700;
  color: var(--title-text-color);
}

h1 {
  font-size: 250%;
}

h2 {
  font-size: 175%;
}

h3 {
  font-size: 150%;
}

a {
  color: var(--main-color);
}

/* navigation */
nav {
  position: fixed;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: space-between;
  top: 0;
  height: var(--nav-height);
  width: 100%;
  left: 50%;
  transform: translateX(-50%);

  padding: 0 var(--font-size);
  line-height: var(--nav-height);

  background-color: var(--background-color);

  /* box-shadow: 0px 0px 10px var(--background-color); */
  box-shadow: 0px var(--grid-size) var(--grid-size) var(--background-color);
}

nav ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav li {
  display: inline-block;
  margin-right: var(--grid-size);
}

nav form {
  min-width: 10em;
  display: inline-block;
}

/* form */

fieldset {
  box-sizing: border-box;
  border: 0;
  margin-top: var(--font-size);
  padding: 0;
}

label {
  display: block;
  color: var(--title-text-color);
}

input, textarea {
  box-sizing: border-box;
  margin: 0;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--grid-size);
  margin-bottom: var(--grid-size);
  font-size: var(--font-size);
  color: var(--body-text-color);
}

input[type=submit] {
  color: white;
  background: var(--main-color);
}

textarea {
  width: 100%;
  background: var(--background-color);
  min-height: calc(4 * var(--font-size));
}


/* for big screens */


@media (min-width: 600px) {
  main {
    max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
  }
  nav {
    max-width: var(--content-width);
  }
}
