:root {
  --grid-size: 8px;
  --border-radius: calc(var(--grid-size) / 2);
  --font-size: 18px;
  --nav-height: 64px;
  --content-width: 720px;

  --main-color: #36c;
  --background-color: white;
  --dim-background-color: #eee;
  --title-text-color: black;
  --body-text-color: #666;
  --border-color: #999;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-color: #36c;
    --background-color: black;
    --dim-background-color: #222;
    --title-text-color: #ccc;
    --body-text-color: #999;
    --border-color: #333;
  }
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--background-color);

  font-size: var(--font-size);
  color: var(--body-text-color);
  line-height: 2em;
  word-break: keep-all;

  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
}

main {
  box-sizing: border-box;
  margin-top: var(--nav-height);
  padding: var(--font-size);
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;
  line-height: 1.25em;
  font-weight: 700;
  color: var(--title-text-color);
}

h1 {
  font-size: 250%;
}

h2 {
  font-size: 175%;
}

h3 {
  font-size: 150%;
}

a {
  color: var(--main-color);
}

code {
  padding: 4px;
  background: var(--dim-background-color);
  border-radius: 4px;
}

/* navigation */
nav {
  position: fixed;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: space-between;
  top: 0;
  height: var(--nav-height);
  width: 100%;
  left: 50%;
  transform: translateX(-50%);

  padding: 0 var(--font-size);
  line-height: var(--nav-height);

  background-color: var(--background-color);

  box-shadow: 0px var(--grid-size) var(--grid-size) var(--background-color);
}

nav ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav li {
  display: inline-block;
  margin-right: var(--grid-size);
}

nav li:last-child {
  display: inline-block;
  margin-right: 0;
}

nav li a {
  text-decoration-thickness: 2px;
  text-decoration-color: var(--body-text-color);
  text-underline-offset: 4px;
  color: var(--title-text-color);
  font-weight: bold;
}

nav form {
  min-width: 10em;
  display: inline-block;
}

nav input {
  display: inline;
}

/* form */

fieldset {
  box-sizing: border-box;
  border: 0;
  margin-top: var(--font-size);
  padding: 0;
}

label {
  color: var(--title-text-color);
}

input, textarea {
  display: block;
  box-sizing: border-box;
  margin: 0;
  font-size: calc(0.8 * var(--font-size));
  border: 1px solid var(--border-color);
  border-radius: var(--grid-size);
  padding: var(--grid-size);
  background-color: var(--background-color);
  color: var(--body-text-color);
}

input[type=button], input[type=submit], input[type=checkbox] {
  display: inline;
}

input[type=button], input[type=submit] {
  border: 0;
}

input {
  margin-right: var(--grid-size);
  line-height: var(--font-size);
}

input:last-child {
  margin-right: 0;
}

input[type=button], input[type=submit] {
  background: var(--dim-background-color);
}

input[type=submit] {
  color: white;
  background: var(--main-color);
}

textarea {
  width: 100%;
  min-height: calc(10 * var(--font-size));
  line-height: calc(1.5 * var(--font-size));
  background: var(--background-color);
  font-family: monospace;
}


/* for big screens */


@media (min-width: 600px) {
  main {
    max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
  }
  nav {
    max-width: var(--content-width);
  }
}
